footer#footer {
  background: #34495E;
  height: 400px;
  position: relative;

  footer {
    background: #243342;
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #59718A;

    a {
      color: #59718A;
      transition: color 0.1s;

      &:hover {
        color: #6984A0;
      }
    }
  }
}
