html, body {
  font-family: 'Roboto', sans-serif;
}


section {
  &.border-bottom {
    padding: 30px 0 40px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.light {
    background: #eee;
  }
}

pre, code {
  font-size: 1.1em;
  font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}

.error {
  background: #eee;
  color: #777;

  .container {
    text-align: center;
    padding: 200px 0;

    a {
      color: #777;
    }

    h2 {
      font-size: 4em;
      font-weight: 100;
      padding-bottom: 1em;
    }
  }
}

#search {
  position: fixed;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  left: 100%;
  bottom: 100%;
  background: white;
  transition: left 0.5s, bottom 0.5s;

  form {
    width: 100%;
    padding: 30px;

    input {
      outline: none;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      display: block;
      padding: 10px 20px;
      font-size: 2em;
      border: 0;
      border-bottom: 4px solid #ccc;
    }
  }

  i.search-toggle {
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 4em;
    color: #555;
    cursor: pointer;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100vh solid white;
    border-left: 100vw solid transparent;
  }

  &::before {
    bottom: -100%;
  }

  &::after {
    top: 0;
    left: -100%;
  }

  &.active {
    left: 0;
    bottom: 0;
  }

  .results-container {
    margin-top: 100px;

    .results {
      li {
        position: relative;
        padding: 10px 20px;
        border-radius: 0 3px 3px 0;
        transition: background 0.1s;
        margin-bottom: 20px;

        &.api::before {
          background: #04F199;
        }

        &.category::before {
          background: #04BAF1;
        }

        &:hover {
          background: #eee;

          &::before {
            opacity: 1;
          }
        }

        a {
          color: #444;

          h3 {
            font-weight: 900;
            letter-spacing: 1px;
            margin: 0;
            text-transform: capitalize;
          }

          small {
            margin-bottom: 10px;
            display: block;
            font-style: italic;
            color: #777;
          }

          p {
            line-height: 1.5;
          }

          *:first-child {
            margin-top: 0;
          }

          *:last-child {
            margin-bottom: 0;
          }

          &:hover {
            text-decoration: none;
          }
        }

        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 5px;
          opacity: 0.4;
          top: 0;
          left: 0;
          transition: opacity 0.1s;
        }
      }
    }
  }
}
